body {
	padding: 0 1em;
}


aside {
	&.message {
		border-radius: 4px;
		color: white;
		padding: .5em 1em;

		&.success {
			background-color: rgb(28, 184, 65);
		}

		&.error {
			background-color: rgb(202, 60, 60);
		}
	}
}
